<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/layout/layout::library}"></th:block>
</head>
<body>
<form action="/products/create" method="post" th:object="${productDTO}">
    <h1>Thêm sản phẩm</h1>
    <label>Tên sản phẩm:</label>
    <input th:field="*{name}"><br>
    <small style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small><br>
    <label>Giá sản phẩm:</label>
    <input th:field="*{price}"><br>
    <small style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small><br>
    <label>Ngày nhập:</label>
    <input type="date" th:field="*{createdAt}"><br>
    <label>Loại sản phẩm:</label>
    <select th:field="*{category.id}">
        <option th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <input type="submit" value="Thêm">
</form>
</body>
</html>