<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm sản phẩm</title>
</head>
<body>
<form action="/product/create" method="post" th:object="${product}">
  <h1>Thêm sản phẩm</h1>
  <label>Tên sản phẩm: </label>
  <input type="text" th:field="*{name}"><br>
  <label>Giá: </label>
  <input type="text" th:field="*{price}"><br>
  <label>Nhà sản xuất: </label>
  <input type="text" th:field="*{manufacturer}"><br>
  <input type="submit" value="Thêm">
</form>
</body>
</html>