<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa sản phẩm</title>
</head>
<body>
<form action="/product/update" method="post" th:object="${product}">
  <h1>Sửa sản phẩm</h1>
  <input type="hidden" th:field="*{id}">
  <label>Tên sản phẩm:</label>
  <input type="text" th:field="*{name}"><br>
  <label>Giá sản phẩm:</label>
  <input type="text" th:field="*{price}"><br>
  <label>Nhà sản xuất:</label>
  <input type="text" th:field="*{manufacturer}"><br>
  <input type="submit" value="Cập nhật">
</form>
</body>
</html>