<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sach khach hang</title>
  <th:block th:replace="~{/layout/layout::library}"></th:block>
</head>
<body>
<h1 th:text="#{list}"></h1>
<form action="/customer" method="get">
  <input type="text" name="name" placeholder="Nhập tên cần tìm" th:value="${name}">
  <button th:text="#{search}"></button>
</form>
<p><a href="/customer/create" th:text="#{addCustomer}"></a></p>
<table class="table table-striped table-bordered">
  <tr>
    <th>Stt</th>
    <th th:text="#{name}"></th>
    <th th:text="#{age}"></th>
    <th th:text="#{email}"></th>
    <th th:text="#{category}"></th>
    <th th:text="#{delete}"></th>
    <th th:text="#{update}"></th>
  </tr>
  <tr th:each="customer, status: ${customerPage}">
    <td th:text="${status.count}"></td>
    <td th:text="${customer.name}"></td>
    <td th:text="${customer.age}"></td>
    <td th:text="${customer.email}"></td>
    <td th:text="${customer.category.name}"></td>
    <td><a th:href="@{/customer/delete(id=${customer.id})}" onclick="return confirm('Bạn có muốn xoá không')" th:text="#{delete}"></a></td>
    <td><a th:href="@{/customer/update(id=${customer.id})}" th:text="#{update}"></a></td>
  </tr>
</table>
<p th:text="${create}"></p>

<a th:if="${customerPage.hasPrevious()}" th:href="@{/customer(page=${customerPage.number - 1}, name=${name})}" th:text="#{previous}"></a>
<span th:text="${customerPage.number}"></span>/<span th:text="${customerPage.totalPages}"></span>
<a th:if="${customerPage.hasNext()}" th:href="@{/customer(page=${customerPage.number + 1}, name=${name})}" th:text="#{next}"></a><br>

<a href="/customer?lang=en">En</a>||
<a href="/customer?lang=vi">Vi</a>
</body>
</html>